.User {
  font-family: Courier New;
 background-image: linear-gradient(80deg, #151a1f,
#161e25,
#17212b,
#182532,
#192938
);
background-size: 250%;
animation: gradient-animation 35s infinite alternate;
// transform: rotate(0.5deg);
}

@keyframes gradient-animation {
0% {
  background-position: right;
}
100% {
  background-position: left;
}
}
.ratings-container {
display: none !important;
}
.ratings-row {
display:none !important;
}
.col-sm-4 .Card{
display: none !important;
}
.col-sm-4 h2 {
display: none !important;
}
.col-sm-8{
width: 100% !important;;
}
.col-sm-8 .Card:first-child {
display: none;
}
.container {
max-width: none !important;
}
.country-line {
display: none !important;
}
.avatar-container .Player-username {
 background: -webkit-linear-gradient(white, orange);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.avatar-container .Player-rank {
 background: -webkit-linear-gradient(white, orange);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.avatar-subtext {
display: none;
}
.active-games {
background-image: url(https://i.ibb.co/ZTdxN6f/stars-space-galaxy-4k-1536013796.jpg);
background-size: contain;
width: 70%;
min-width: fit-content;
margin: auto;
border-radius: 50px;
}
.active-games:hover {
// opacity: 0;
}
.active-games h2 {
text-align: center;
}
h2 {
background: -webkit-linear-gradient(white, orange);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.game_name {
display: none;
}

.Clock {
color: white;
}

.inner-container {
color: white;
text-shadow: orange 1px 0 10px;
}

.Card {
background-image: url(https://i.ibb.co/ZTdxN6f/stars-space-galaxy-4k-1536013796.jpg);
background-size: contain;
  color: white;
  text-shadow: orange 1px 0 10px;
}
.library-won-result-unranked {
  
}
.library-won-result-vs-weaker {
  background-color: #154b77 !important;;
}
.library-won-result-vs-stronger {
  background-color: #124360 !important;
  color: #bbb !important;;
}
.library-lost-result-vs-stronger {
  background-color: #794833 !important;
  color: #bbb !important;
}
.library-lost-result-vs-weaker {
  background-color: #925325 !important;
}
.library-won-result-unranked {
  color: blanchedalmond !important;
}
.library-lost-result-unranked {
  color: orange !important;
}